body {
    background-image: url("music-background.jpg");
    background-size: cover;
}
.heading {
    padding: 150px;
    width: 100%;
}
.title {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
canvas {
    border-width: 5px;
    border-radius: 30%;
    border-color: black;
    border-style: solid;
}